{% extends "base.html" %}
{% load uploader_tags %}
{% block content %}
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                <div class="main-alert alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="well">
                <form action="" method="post">
                    <h2 class="text-center form-signin-heading">Password Reset</h2>
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {% csrf_token %}
                    {% for field in form %}
                        {% if forloop.counter == 3 %}
                            <h4>Additional Information</h4>
                        {% endif %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    {% add_attr field class='form-control' placeholder=field.label %}
                                    {% if field.name == 'file' %}
                                        <p class="help-block"><strong>Accepted File Types:</strong> jpg/jpeg, png, zip, psd, xlsx, csv, py, txt</p>
                                    {% endif %}
                                    {% if field.errors %}
                                        <span class="help-block">{{ field.errors.as_text }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button class="btn btn-md file_cab_btn btn-block" type="submit" value="Reset password">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
