{% extends "base.html" %}
{% block content %}
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                <div class="main-alert alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <form method="post" action="/registration/" novalidate>
                {% csrf_token %}
                <h2 class="text-center">Registration</h2>
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <div class="row">
                            <label class="col-sm-4 control-label" for="">{{ field.label }}</label>
                            <div class="col-sm-8">
                                {{ field }}
                                {% if field.errors %}
                                    <span class="help-block">{{ field.errors.as_text }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-md file_cab_btn btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
{% endblock %}
