<h2>Files Uploaded</h2>
<div class="well">
    <div class="row">
        <div class="col-md-4 pull-right">
            <form class="pull-right form-inline" action="/uploader/{{ project.id }}/get_revision/" method="post">
                {% csrf_token %}
                <label for="">Revision</label>
                <select name="revision" style="width:150px;" class="form-control" onchange="this.form.submit()">
                    <option value="">All</option>
                    {% for r in revisions %}
                        <option {% if r == revision %}selected="selected"{% endif %} value="{{r}}">Revision {{r}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Revision</th>
                    <th>File Type</th>
                    <th>Date Uploaded</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for f in project_files %}
                    <tr>
                        <td><a href="{{ f.file.url }}">{% if f.name %}{{ f.name }}{% else %}{{ f.readable_file_name }}{% endif %}</a></td>
                        <td>{{ f.revision }}</td>
                        <td>{{ f.extension }}</td>
                        <td>{{ f.datetime }}</td>
                        <td>{{ f.note }}</td>
                        <td class><button type="button" name="button" class="btn btn-danger">Delete File</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
