{% extends "base.html" %}
{% block content %}
            <div class="row">
                {% if messages %}
                    {% for message in messages %}
                            <div class="main-alert alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% if not project %}
                    <h3 class="title-header">No project selected</h3>
                {% else %}
                    <h3 class="title-header">{{ project.name }}</h3>
                {% endif %}
            </div>
            {% if not project %}
                <div class="row">
                    <div class="well">
                        Please select a project above to continue.
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-xs-8" id="upload_form">
                        <div class="well">
                            {% if form.non_field_errors %}
                                {% for err in form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">{{ err }}</div>
                                {% endfor %}
                            {% endif %}
                            <form action='/uploader/{{ project.id }}/' method="post" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if forloop.counter == 3 %}
                                        <h4>Additional Information</h4>
                                    {% endif %}
                                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                                        <div class="row">
                                            <label class="col-sm-2 control-label" for="">{{ field.label }}</label>
                                            <div class="col-sm-6">
                                                {{ field }}
                                                {% if field.name == 'file' %}
                                                    <p class="help-block"><strong>Accepted File Types:</strong> jpg/jpeg, png, zip, psd, xlsx, csv, py</p>
                                                {% endif %}
                                            </div>
                                            {% if field.errors %}
                                                <span class="help-block">{{ field.errors.as_text }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <input type="submit" class="btn btn-primary" value="Upload" />
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-4" id="recent_form">
                        <div class="well">
                            <h4>Recently Uploaded</h4>
                                <table>
                                    {% for f in project_files %}
                                        {% if forloop.counter <= 15 %}
                                        <tr>
                                            <td><a href="{{ f.file.url }}">{% if f.name %}{{ f.name }}{% else %}{{ f.readable_file_name }}{% endif %}</a></td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                        </div>
                    </div>
                </div>
                <div class="row" id="files_uploaded">
                    {% include 'revisions.html' %}
                </div>
            {% endif %}
{% endblock content %}
